/* Add this CSS in your styles */
.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  .arrow {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    @apply fill-blue-100;
    cursor: pointer;

  }
  
  .arrow--left {
    left: -5px;
    filter: drop-shadow(0 0 0.07rem rgba(0, 0, 0, 1));
  }
  
  .arrow--right {
    left: auto;
    right: -5px;
    filter: drop-shadow(0 0 0.07rem rgba(0, 0, 0, 1));
  }
  .rs-modal-content {
    @apply px-0;
  }

  /* From Uiverse.io by LilaRest */ 
.card {
  position: relative;
 max-width: fit-content;
  margin: 0 auto;
  padding: 9px 18px;
  border-radius: 35px;
 @apply shadow-xl bg-slate-50;
}


.card-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-conic-gradient(var(--bg) 0.0000001%, var(--grey) 0.000104%) 60% 60%/600% 600%;
  filter: opacity(10%) contrast(105%);
}

